networks:
  public:
    external: true

services:
  hawkbit:
    image: hawkbit/hawkbit-update-server:{{ hawkbit_version }}
    container_name: hawkbit
    restart: unless-stopped
    ports:
      - "8086:8080"
    environment:
      - SPRING_APPLICATION_JSON={"hawkbit":{"dmf":{"rabbitmq":{"enabled":false}},"server":{"ddi":{"security":{"authentication":{"anonymous":{"enabled":true}}}}}}}
    volumes:
      - ./data:/opt/hawkbit/data
      - ./artifacts:/opt/hawkbit/artifactrepo
    networks:
      public:
