networks:
  public:
    external: true
services:
  mlflow:
    container_name: mlflow
    build:
      context: .
      dockerfile_inline: |
        FROM ghcr.io/mlflow/mlflow:v{{ mlflow_version }}
        RUN pip install boto3 psycopg2-binary
    restart: unless-stopped
    ports:
      - '5000:5000'
    networks:
      public:
    environment:
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: {{ minio_password }}
      MLFLOW_S3_ENDPOINT_URL: http://host.docker.internal:9000
    command: >
      mlflow server --backend-store-uri postgresql://postgres:{{ postgres_password }}@host.docker.internal:5432/mlflow  --host 0.0.0.0 --default-artifact-root s3://mlflow
    extra_hosts:
      - "host.docker.internal:host-gateway"
